.about-section {
    padding: 50px;
    text-align: center;
    background-color: #B76E79;
    color: white;
  }

p {
    font-size: 25px;
}
  
  .header-img {
    width: 100%;
    height: 500px;
    padding: 40px 120px;
    background: url('https://lp2.hm.com/hmgoepprod?set=width[1920],quality[80],options[limit]&source=url[https://www2.hm.com/content/dam/home_s05/january_2022/7005g/7005G-3x2-create-the-perfect-brunch.jpg]&scale=width[global.width],height[15000],options[global.options]&sink=format[jpg],quality[global.quality]');
    background-size: cover;
  }

h2 {
    color: #B76E79;
}