input[type=text], select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  input[type=submit] {
    background-color: #B76E79;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: black;
  }

  .container {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
  }

  label {
    color: #B76E79;
    
    
  }
  input {
      color:#B76E79
  }
  h3 {
      color:#B76E79;
      font-size: 25px;
    letter-spacing: 3px;
    text-align: center;
    margin-top: 110px;
  }

  body {
      background-color:#AEC6CF
  }

  input[type=submit] {
    background-color: white;
    color: #AEC6CF;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }